@model IEnumerable<smartPatient.Domain.entities.product>

@{
    ViewBag.Title = "products";
}



    <head>


        <style>
            .button {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
        </style>
    </head>

    <body>

        @*<body>
                 <img src="C:\Users\A\Desktop\images.jpeg" alt="Girl in a jacket">
            </body>*@


        @foreach (var p in Model)
        {
            <div>
                <h3>@p.Name</h3>
                <h4>@p.speciality</h4>
                <h4>fee : @p.fee.ToString("c")</h4>

                @p.desciption
                <a href="#" class="button">Book Appointment</a>
                <br />
                <br />
            </div>
        }

    </body>

    <h2>List</h2>

